.topcolor{
    background-color: rgb(222,240,252);
}

.leftcolor{
    background-color: rgb(230,230,230);
}

.leftgradient{
    background-image: linear-gradient(90deg, rgb(230,230,230)90%, rgb(177,177,177));
}
